<div>
    <div>
        <app-navbar></app-navbar>
    </div>
    <div>
        <h1 class="title">Services/Personne de métiers</h1>
        <div class="container">
            <div class="card">
              <div class="card-header">
                <img src="../../assets/mcd.jpg" alt="rover" />
              </div>
              <div class="card-body">
                <span class="tag tag-teal">Services</span>
                <h4>
                    McDonald's
                </h4>
                <p>
                    McDonald's Corporation is an American-based multinational fast food chain, founded in 1940 as a restaurant operated by Richard and Maurice McDonald, in San Bernardino, California, United States.                </p>
                <button mat-raised-button color="primary">View All reviews</button>
              </div>
            </div>
           
            <div class="card">
              <div class="card-header">
                <img src="../../assets/chef-moha-.jpg" alt="city" />
              </div>
              <div class="card-body">
                <span class="tag tag-pink">Personne de métiers</span>
                <h4>
                  Chef Mouha 
                </h4>
                <p>
                    A graduate of the Ecole Hôtelière de Genève and with fourteen years’ professional experience in Switzerland under his belt, Moha Fedal has become the first chef to reinvent Moroccan cuisine                </p>
                    <button mat-raised-button color="primary">View All reviews</button>

              </div>
            </div>
    </div>
</div>