/build/
DataAccess/bin
DataAccess/obj
*.dll
*.config
*.cache
*.pdb
.vs
.vscode
packages
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*/bin/*
*/obj/*