<nav class="navbar barstyle navbar-expand-lg navbar-light bg-light border ">
    <div class="container-fluid  ">
     <!--  <a class="navbar-brand text-success " href="#">
        Je Teste Je recommande !!</a> -->
        <img src="../../../assets/jeteste.jpg" alt="" class="img-div">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
             <a  class="nav-link" routerLink="/add-cat" routerLinkActive="active" 
                [routerLinkActiveOptions]={exact:true}>Catégories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/app-rec" 
                routerLinkActive="active">Recommendation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-service" 
                routerLinkActive="active">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-personne" 
                routerLinkActive="active">Person</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>