<h2 mat-dialog-title>Add service</h2>
<mat-dialog-content class="mat-typography">
  <form fxLayoutAlign="stretch" fxLayout="column" class="form-form">
    <mat-form-field >
      <input matInput placeholder="Nom du service ">
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="Description ">
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-danger wrn-btn login">Add</button>
    <button class="btn wrn-btn wrn-btn ms-3">cancel</button>
</mat-dialog-actions>