<div fxLayoutAlign="center center" fxFlexFill class="main-div" >
    <mat-card fxFlex="30" class="card">
       <img src="../../../assets/jeteste.jpg" alt="" class="main-img">
        <form fxLayoutAlign="stretch" fxLayout="column" class="form-form">
            <mat-form-field >
              <input matInput placeholder="Username *">
            </mat-form-field>
          
            <mat-form-field >
                <input matInput placeholder="Password" type="Password">
            </mat-form-field>
          </form>
          <button class="btn btn-danger wrn-btn login">Login</button>
          <button class="btn wrn-btn wrn-btn ms-3">cancel</button>

    </mat-card>
</div>
