<div class="header">
    <app-navbar></app-navbar>
</div>
<div>
    <section class="page-contain">
            <a class="data-card">
            <div class="div-card">
            <h3>MC Donalds</h3>
            <span class="tag tag-pink">food</span>
            <span class="tag tag-teal ms-2">Service</span>
            <h5>McDonald's Corporation is an American-based multinational fast food chain, founded in 1940 as a
                restaurant operated by Richard and Maurice McDonald, in San Bernardino, California, United States.</h5>
                <div class="mt-4 login-register">
                    <button mat-raised-button color="primary">View all reviews</button>
                  </div>
                </div>

                </a>
    </section>
</div>